/* место для вашего кода */
.header {
  display: grid;
  padding: 92px 50px;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  font-family: Raleway;
}

.header_links-list {
  display: flex;
  gap: 32px;
  white-space: nowrap;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.header__links-list-item_no-bullet {
  list-style: none;
  text-decoration: none;
  letter-spacing: 0;
}

.header_logo {
  width: min-content;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.header_address {
  width: 240px;
  text-underline-offset: 4px;
  justify-self: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

.address {
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0 0 0 / 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 757px;
  padding-right: 50px;
}

.cover_title {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  color: white;
  padding-left: 50px;
  padding-top: 174px;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  padding-top: 27px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  padding-top: 19px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover_description {
  padding-top: 136px;
  padding-left: 78px;
}

.cover_description-text {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  word-spacing: 0.9em;
  text-transform: uppercase;
  color: white;
  padding-right: 76px;
}

.description_text-word-spacing {
  word-spacing: 0.8em;
}

.bet-button {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: transparent;
  border: 1px solid;
  width: 256px;
  height: 51px;
}

.lots {
  margin-top: 179px;
}

.lots_card-list {
  display: flex;
  list-style-type: none;
  margin-top: 27px;
  gap: 25px;
  padding: 0 24px;
  margin-bottom: 30px;
}

.lots_card-list-item {
  flex-basis: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}

.lots_heading {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 64px;
}

.card-title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card-text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.card-text-letter-spacing {
  letter-spacing: 0.13em;
  text-align: left;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-decoration: underline;
  padding-left: 64px;
  text-underline-offset: 4px;
}

.about {
  margin-top: 182px;
  margin-left: 19px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 17px;
  padding-right: 24px;
}

.about_logo {
  display: grid;
  background-color: black;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  place-items: center;
  justify-self: center;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 102px;
  padding-bottom: 100px;
}

.about_text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about_text-padding-bottom {
  padding-bottom: 24px;
}

.about_text-letter-spacing1 {
  letter-spacing: 0.02em;
}

.about_text-letter-spacing2 {
  letter-spacing: -0.01em;
}

.about_text-letter-spacing3 {
  letter-spacing: 0.03em;
}

.about_text-letter-spacing4 {
  letter-spacing: 0.04em;
}

.footer {
  margin: 180px 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
  justify-self: left;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}

.footer__social-link {
  width: 48px;
}
